@page
@using Microsoft.AspNetCore.Authentication;
@{
    ViewData["Title"] = "Sign Out";
    Layout = "_Layout";
}
@{
    var signOut = HttpContext.SignOutAsync();
    HttpContext.Session.Clear();
    await signOut;
}

<h1 class="mt-20 text-xl text-sky-200">"You have successfully been logged out."😎</h1>
