@page
@model PastebinModel
@{
    ViewData["Title"] = "Pastebin";
    Layout = "_Layout";
}

@section Head
{
    <link
        rel="stylesheet"
        data-name="vs/editor/editor.main"
        href="https://unpkg.com/monaco-editor@0.34.0/min/vs/editor/editor.main.css"
    />
}

<div class="mt-12">
    <h1 class="text-xl text-slate-300">Pastebin</h1>
</div>

<form id="form" method="POST" class="mx-4 sm:w-10/12 w-full">
    <input asp-for="TextValue" hidden />
    <input asp-for="Language" hidden />
    <div>
        <label>Language</label>
        <select id="language-picker">
        </select>
        <label>Expiration</label>
        <select id="expire-picker">
        </select>
        
    </div>
    <div id="container" class="h-80 w-full"></div>
    <button class="bg-indigo-600 rounded-md px-4 py-2 text-white" type="submit">Post</button>
</form>


@section Scripts
{
    <script src="https://unpkg.com/monaco-editor@0.34.0/min/vs/loader.js"></script>
    <script>
        require.config({ paths: { vs: 'https://unpkg.com/monaco-editor@0.34.0/min/vs' } })
        require(['vs/editor/editor.main'], () => {
            var editor = monaco.editor.create(document.getElementById('container'), {
                automaticLayout: true,
                theme: 'vs-dark',
                language: document.getElementById('Language').value,
                value: document.getElementById('TextValue').value
            })

            var l = monaco.languages.getLanguages().map(lang => lang.id);
            l.sort();

            var picker = document.getElementById('language-picker');
            for (var i = 0; i < l.length; i++) {
                var o = document.createElement('option');
                o.textContent = l[i];
                picker.append(o);

                if(document.getElementById('Language').value == l[i]) picker.selectedIndex = i;
            }
            picker.addEventListener("change", () => {
                var m = monaco.editor.createModel(editor.getModel().getValue(), picker.value);
                editor.setModel(m);
            })

            var form = document.getElementById('form');
            form.addEventListener("submit", () => {
                alert(editor.getValue());
                document.getElementById('TextValue').value = editor.getValue();
                document.getElementById('Language').value = picker.value;
            });
        })
    </script>
}