@page
@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Layout";
}
<section class="min-w-screen-sm max-w-screen-lg w-full flex flex-col justify-center text-gray-50 py-6 sm:py-20 px-6 space-y-4">
    <h1 class="text-xl text-sky-200">@ViewData["Title"]</h1>
    <hr />
    <p class="mt-6">
        By signing in Lakehub, your ID and password will be sent to 统一身份认证平台 to verify your identity.<br />
        您的 ID 和密码将被转发至统一身份认证平台来验证您的信息<br />
        We don't collect or store your password.<br />
        我们不收集或存储您的密码。<br />
    </p>
</section>
