<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LakeHub</title>

    <link rel="stylesheet" href="/font/Inter/inter.css" />
    <environment names="Staging,Production">
        <link rel="stylesheet" href="/css/output.css" asp-append-version="true" />
    </environment>
    <environment names="Development">
        <script src="https://cdn.tailwindcss.com"></script>
        @* <style type="text/tailwindcss" src="~/css/site.css"></style> *@
    </environment>

    @await RenderSectionAsync("Head", required: false)
</head>

<body class="bg-gray-700" style='background-image: url("/img/line-in-motion.svg")'>
    @*https://www.cnblogs.com/robinunix/p/11044357.html*@
    <div class="flex flex-col justify-between w-full min-h-screen">
        <main class="container mx-auto px-4 h-full">
            @RenderBody()
        </main>
        <footer class="flex justify-center border-t-2 border-slate-600">
            <div class="p-4 text-slate-500 divide-x-2 divide-slate-600">
                <span class="pr-1">Made with 💕 by yiffyi @@ Westlake University</span><a asp-page="/Help/Privacy" class="pl-1 underline">Privacy Policy</a>
            </div>
        </footer>
    </div>
    <script src="/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>