@page
@model Cas2Discourse.Pages.SignInModel
@{
}
<section class="mt-12 pb-12 w-full lg:w-5/12 px-4 mx-auto flex flex-col items-center rounded-xl shadow-xl bg-slate-200 text-slate-700">
    <div class="my-6">
        <!-- <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company" /> -->
        <h2 class="text-center text-3xl font-bold tracking-tight">Community@@Westlake</h2>
        <p class="mt-2 text-center text-sm">
            Connect with your account at 统一身份认证平台/University Portal/SSO
        </p>
    </div>
    @if (Model.UnknownError)
    {
        <span class="text-red-500">An unknown error has occured. Please contact our support team if convenient.</span>
    }
    <form class="mt-2 space-y-6 w-10/12" method="POST" autocomplete="on">
        <div class="shadow-lg">
            <div>
                @if (Model.WrongId)
                {
                    <input asp-for="InputCasId" required
                    class="block w-full rounded-t-md border border-red-400 px-3 py-2 text-red-600 placeholder-red-500"
                    placeholder="Wrong ID" />
                }
                else
                {
                    <input asp-for="InputCasId" required autocomplete="username"
                       class="block w-full rounded-t-md border border-gray-300 px-3 py-2 text-gray-600 placeholder-gray-500"
                       placeholder="ID" />
                }

            </div>
            <div>
                @*                <input asp-for="InputCASId" required
                class="block w-full rounded-t-md border border-red-400 px-3 py-2 text-red-600 placeholder-red-500"
                placeholder="Wrong ID" />*@
                <input asp-for="InputEmail" required autocomplete="email"
                       class="block w-full border border-gray-300 px-3 py-2 text-gray-600 placeholder-gray-500"
                       placeholder="Email" />
            </div>
            <div>
                @if (Model.WrongPassword) {
                <input asp-for="InputPassword" required
                       class="block w-full rounded-b-md border border-red-400 px-3 py-2 text-gray-600 placeholder-red-500"
                       placeholder="Wrong password" />
                }
                else
                {
                    <input asp-for="InputPassword" required autocomplete="current-password"
                       class="block w-full rounded-b-md border border-gray-300 px-3 py-2 text-gray-600 placeholder-gray-500"
                       placeholder="Password" />
                }
                
            </div>
        </div>

        <div class="flex items-center justify-between space-x-4">
            <div class="text-sm">
                <a href="https://ssokey.westlake.edu.cn/whistle/retrieve/account"
                   class="font-medium text-indigo-500 hover:text-indigo-600">Forgot your password?</a>
            </div>
        </div>

        <div>
            <button type="submit"
                    class="group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                    <!-- Heroicon name: mini/lock-closed -->
                    <svg class="h-5 w-5 text-indigo-300 group-hover:text-indigo-300"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd"
                              d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z"
                              clip-rule="evenodd" />
                    </svg>
                </span>
                Sign in
            </button>
        </div>
    </form>

    <p class="mt-2 text-sm text-slate-500">
        By clicking "Sign in", I understand and agree to the <a class="text-indigo-500 hover:text-indigo-600" asp-page="/Help/Privacy">Privacy Policy</a>
    </p>
</section>